/**********************************************************
** Global
**********************************************************/

/**********************************************************
** Header
**********************************************************/
.page-header {
    margin: 20px 0 0 0;
}

/**********************************************************
** Footer
**********************************************************/
footer {
    width: 100%;
    padding: 10px;
    margin: 30px 0 0 0;
    border-top: 1px #eaeaea solid;
}

/**********************************************************
** Selection Menu
**********************************************************/
.selection-menu {
    margin-top: 30px;
}

.selection-menu button {
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
}

/**********************************************************
** Game Table
**********************************************************/
.alert-war {
    min-height: 56px;
    margin-bottom: 10px;
}

.alert-war .alert {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0px;
    margin-bottom: 0px;
}

/**********************************************************
** Player
**********************************************************/
.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.players > div {
    width: 50%;
    margin-bottom: 5px;
    min-width: 400px;
}

.player-block {
    padding: 5px;
}

.players > div:nth-child(odd) {

}

.player-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    height: 185px;
    padding: 0 20px;
}

.player-title {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #eaeaea;
    margin: 0 0 10px 0;
}

.player-title.winner {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */
}

.player-stack {
    position: relative;
    width: 111px;
}

.player-stack-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 111px;
}

.player-hopper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: calc(100% - 363px);
}

.player-hopper div {
    flex-shrink: 2;
    overflow: hidden;
}

.player-hopper div img {

}

.player-active {
    width: 252px;
    padding: 0 0 0 30px;
}

.players > div:nth-child(odd) .player-active {
    text-align: right;
    direction: rtl;
}

.players > div:nth-child(even) .player-cards {
    flex-direction: row-reverse;
}

.players > div:nth-child(even) .player-title {
    text-align: right;
}

.players > div:nth-child(even) .player-active {
    text-align: left;
    direction: ltr;
    padding: 0 30px 0 0;
}

.players > div:nth-child(even) .player-hopper {
    text-align: right;
    direction: rtl;
}

/** Media Queries *****************************************/
@media (max-width: 800px) {
    .players > div {
        width: 100%;
        min-width: 100%;
    }

    .players > div:nth-child(even) .player-cards {
        flex-direction: row;
    }

    .players > div:nth-child(even) .player-title {
        text-align: left;
    }

    .players > div:nth-child(even) .player-active {
        text-align: right;
        direction: rtl;
        padding: 0 0 0 30px;
    }

    .players > div:nth-child(even) .player-hopper {
        text-align: left;
        direction: ltr;
    }
}
/** /Media Queries ****************************************/