<div class="player-block">
    <div class="player-title {{$ctrl.player.state}}">Player {{$ctrl.index}}</div>
    <div class="player-cards row">
        <div class="player-action">
            <div class="player-stack">
                <img src="./app/deck/res/back.png" title="{{$ctrl.player.stack.length}} cards remaining" />
                <div class="player-stack-title">{{$ctrl.player.stack.length}} cards<br />remaining</div>
            </div>
            <div ng-show="$ctrl.player.isAlive() && $ctrl.player.active.length === 0"><button type="button" ng-click="$ctrl.playTurn()" class="btn btn-block btn-primary btn-sm action-button">Draw</button></div>
            <div ng-show="$ctrl.player.isAlive() && $ctrl.player.active.length > 0"><button type="button" class="btn btn-block btn-default btn-sm action-button">Wait</button></div>
            <div ng-show="!$ctrl.player.isAlive()"><button type="button" class="btn btn-block btn-default btn-sm action-button" disabled="disabled">Out</button></div>
        </div>
        <div class="player-hopper" ng-show2="$ctrl.player.hopper.length > 0">
            <div ng-repeat="hc in $ctrl.player.hopper" class="player-hopper-card"><img src="{{hc.image}}" /></div>
        </div>
        <div class="player-active">
            <span ng-repeat="ac in $ctrl.player.active track by $index"><img src="{{$index > 0 ? ac.imageBack : ac.image}}" /></span>
        </div>
    </div>
</div>