<div ng-if="$ctrl.state=='selecting'" class="selection-menu text-center">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.startGame(2)">Start 2 Player War</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.startGame(4)">Start 4 Player War</button>
</div>
<div ng-if="$ctrl.state=='playing' || $ctrl.state=='war'">
    <div class="alert-war">
        <div ng-if="$ctrl.state=='war'" class="alert alert-danger text-center" role="alert">This means WAR!</div>
    </div>
    <div class="players">
        <div ng-repeat="p in $ctrl.players track by $index"><player index="$index" player="p"></player></div>
    </div>
</div>
<div ng-if="$ctrl.state=='complete'" class="row">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6 text-center">
        <h1>Game Over!</h1>
        <h2>Player {{$ctrl.winner+1}} Wins!</h2>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.resetGame()">Play Again</button>
    </div>
    <div class="col-xs-1 col-md-3"></div>
</div>